<%= form_for (@group) do |f| %>
    <%= f.hidden_field :group_leader_id %>
    <h4>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </h4>

    <h4>
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
    </h4>

    <h4>
    <%= f.label :description %><br>
    <%=f.text_area :description, size: "50x4" %>
    </h4>

    <h4>
    <%=f.label :discussion %><br>
    <%= f.fields_for :discussions, @group.discussions.build do |discussions_fields| %>
        <%= discussions_fields.text_field :name %><br>
    </h4>
        <% end %>
        
        <%= f.submit %>
        <% end %>

