<h1>Support</h1>

<h4>Does your family and you participate in physical activity?</h4>

<p><%= @support.engage %></p>

<h4>Does your family go on walks?</h4>

<p><%=@support.walks %></p>

<h4>Does your family participate in sports or other outdoor activities?</h4>

<p>Sports: <%=@support.sports %></p>
<p>Outdoor Activities: <%=@support.outdoor_activities %></p>

<h4>Does your family watch lots of television or play video games?</h4>

<p>Television: <%=@support.television %></p>
<p>Gaming: <%=@support.gaming %></p>

<h4>Does your family read or participate in other indoor activities?</h4>

<p>Reading: <%=@support.reading %></p>
<p>Other: <%=@support.other_indoor %></p>

<h4>Will your family spend more time participating in physical activities with you?</h4>

<p><%=@support.participate %></p>

<h4>Will your family support your physical activities?</h4>

<p><%=@support.family_support %></p>

<h4>What activities do you do with your friends?</h4>

<p><%=@support.friend_activities %></p>

<h4>Are any of these activities physical?</h4>

<p><%=@support.friend_physical %></p>

<h4>Will any of your friends participate?</h4>

<p><%=@support.f_physical %></p>

<h4>If yes, who?</h4>

<p><%=@support.friend_name %></p>

<h4>Does your offer city or community have hiking trails, walking trails, and biking paths?</h4>

<p>Hiking Trails: <%=@support.hiking %></p>
<p>Walking Paths: <%=@support.walking_paths %></p>
<p>Bike Paths: <%=@support.cycling %></p>

<h4>What about recreation centers or other opportunities for physical activity?</h4>

<p>Recreation Centers: <%=@support.rec_centers %></p>
<p>Other: <%=@support.other %></p>

<h4>Are there any groups or classes for these activities?</h4>

<p><%=@support.groups %></p>

<h4>Will you be participating in any of these groups or classes for these activities?</h4>

<p><%=@support.group_parts %></p>

<h4>If yes, what groups or classes do you plan on participating?</h4>

<p><%=@support.klass %></p>