<h1>Motivation for <%=@motivation.personal_profile.name%></h1>

<h4>Why do you want to lead a healthy and lifestyle?</h4>
<p><%=@motivation.motivator%></p>

<h4>What type of motivation are you experiencing?</h4> 
<p><%=@motivation.motivation_type %></p>

<h4>How much inwared and outward presure are you exepriencing in pursuing this goal?</h4>
<p><%=@motivation.pressure %></p>

<h4>If you feel lots of pressure, how can you connect with your values and interests?</h4>
<p><%= @motivation.new_motivator %></p>

<%= link_to "Go to Profile", personal_profile_path(@motivation.personal_profile_id)  %><br><br>

<%= link_to "Edit Motivation", edit_motivation_path(@motivation) %><br>
<%= link_to "Delete", motivation_path(@motivation), method: :delete %><br>
<%= link_to "Log Out", logout_path %>

