<h1>Opportunities for Healthy Living</h1>

<h4>Does your neighborhood or community have well-maintained, homes, sidewalks, and roads?</h4>

<p> <%=@available.neighborhood%><p>

<h4>Do you feel neighborhood in terms of crime and traffic?</h4>

<p><%=@available.safety %></p>

<h4>What are some the natural features in your neighborhood(lakes, rivers, streams, mountains, hills)?</h4>

<p><%=@available.natural %></p>

<h4>What man-made features do you have in community (parks, fountains, walking paths, green spaces, sports courts, biking paths)?</h4>

<p><%=@available.man_made %></p>

<h4>Do you have access to a gym or gym equipment?</h4>

<p><%=@available.gym %></p>

<h4>Do you have access to fitness classes and personal training?</h4>

<p><%=@available.classes %></p>

<h4>What physical activities do you plan on doing?</h4>

<p><%=@available.physical %></p>

<h4>Where do you plan on training and working-out?</h4>

<p><%=@available.place %></p>


<%= link_to "Go to Profile", personal_profile_path(@available.personal_profile_id)  %><br>

<%= link_to "Edit Goal", edit_available_path(@available) %><br>
<%= link_to "Delete", available_path(@available), method: :delete %><br>
<%= link_to "Log Out", logout_path %>