<%= form_for @profile do |f| %>
    <h4>
    <%= f.label :name_required %><br>
    <%= f.text_field :name %>
    </h4>

    <h4>
    <%= f.label :email_required %><br>
    <%= f.text_field :email %>
    </h4>

    <h4>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
    </h4>

    <h4>
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
    </h4>

    <h4>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
    </h4>

    <h4>
    <%= f.label :height %><br>
    <%= f.text_field :height %>
    </h4>

    <h4>Have you experienced back pain in the last 6 months?</h4>
    
    <%=f.radio_button :back_pain, "Yes" %> Yes
    <%=f.radio_button :back_pain, "No" %> No
    <br>
    <h4>Do you have any serious illesses or chronic diseases
    (cancer, diabetes, heart disease, etc)?</h4>
    
    <%=f.radio_button :serious_illness, "Yes" %> Yes
    <%=f.radio_button :serious_illness, "No" %> No
    <br>
    <h4>Have had any serious injuries the last six months(
    broken bones, torn tendons or ligaments, serious strains, etc?</h4>
    <%=f.radio_button :serious_injuries, "Yes" %> Yes
    <%=f.radio_button :serious_injuries, "No" %> No
    
    <h4>
    <%= f.label :password_required %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation_required %><br>
    <%= f.password_field :password_confirmation %>
    </h4>
    <%= f.submit %>

    <% end %>