<h1><%= @profile.name %></h1>
<h4>Age: <%= @profile.age %></h4>
<h4>Occupation: <%= @profile.occupation %></h4>
<h4>Weight: <%= @profile.weight %></h4>
<h4>Height: <%= @profile.height %></h4>


<%= link_to "Log Out", logout_path %>
