<h1>Welcome <%= @profile.name %></h1>

<h4>Age</h4>
 <p><%= @profile.age %></p>

<h4>Occupation</h4>
<p><%= @profile.occupation %></p>

<h4>Weight</h4>
<p><%= @profile.weight %></p>

<h4>Height</h4>
<p><%= @profile.height %></p>

<h4>Do you have backpain?</h4>
<p><%= @profile.back_pain %></p>

<h4>Have you experienced any backpain?</h4>
<p><%= @profile.serious_illness %></p>

<h4>Have you had any serious injuries over the last six months?</h4>
<p><%= @profile.serious_injuries %></p>

<%= link_to "Create New Motivation", new_personal_profile_motivation_path(@profile) if !@profile.motivation%><br>
<%= link_to "Go to Motivation", motivation_path(@profile.motivation) if @profile.motivation %><br>
<%= link_to "Create New Goal", new_personal_profile_goal_path(@profile) if !@profile.goal%><br>
<%= link_to "Go to Goal", goal_path(@profile.goal) if @profile.goal %><br>
<%= link_to "Edit Profile", edit_personal_profile_path(@profile) %><br>
<%= link_to "Delete", personal_profile_path(@profile), method: :delete %><br>
<%= link_to "Log Out", logout_path %>
