<h1>Goal Plan</h1>

<h4><%= @goal.add_goal %></h4>

<ul>
<li><%=@goal.objective_1 %>
  <ul>
    <li><%= @goal.strategy_1%>
      <ul>
       <li><%=@goal.tactic_1 %></li>
       <li><%=@goal.tactic_2 %></li>
      </ul>
    </li>
  </ul>
</li>
</ul>

<ul>
<li><%=@goal.objective_2 %>
  <ul>
    <li><%= @goal.strategy_2%>
      <ul>
       <li><%=@goal.tactic_3 %></li>
       <li><%=@goal.tactic_4 %></li>
      </ul>
    </li>
  </ul>
</li>
</ul>

<ul>
<li><%=@goal.objective_3 %>
  <ul>
    <li><%= @goal.strategy_3%>
      <ul>
       <li><%=@goal.tactic_5 %></li>
       <li><%=@goal.tactic_6 %></li>
      </ul>
    </li>
  </ul>
</li>
</ul>
