<h1>Workout Plan</h1>

<h3>What is your overall goal?</h3>

<p><%= @goal.add_goal %></p>

<h3>What is your first objective or action steps??</h3>

<p><%=@goal.objective_1 %></p>

<h3>What is your strategy</h3>

<p><%= @goal.strategy_1%><p>

<h3>What are your tactics?</h3>

<p><%=@goal.tactic_1 %></p>
<p><%=@goal.tactic_2 %></p>
    
<h3>What is your second objective or action step?</h3>

<p><%=@goal.objective_2 %></p>

<h3>What is your second strategy?</h3>

<p><%= @goal.strategy_2%></p>

<h3>What are your tactics?</h3>

<p><%=@goal.tactic_3 %></p>
<p><%=@goal.tactic_4 %></p>
      
<h3>What is your third objectives?</h3>

<p><%=@goal.objective_3 %></p>

<h3>What is your third strategy</h3>

<p><%= @goal.strategy_3%></p>

<h3>What is your third strategy</h3>

<p><%=@goal.tactic_5 %></p>
<p><%=@goal.tactic_6 %></p>
     
<%= link_to "Go to Profile", personal_profile_path(@goal.personal_profile_id) %><br><br>

<%= link_to "Edit Goal", edit_goal_path(@goal) %><br>
<%= link_to "Delete", goal_path(@goal), method: :delete %><br>
<%= link_to "Log Out", logout_path %>
