<h1> Costs </h1>

<h4>What types of activities do you plan on doing?</h4>
<p><%=@cost.activities %></p>

<h4>Where do you plan on training and working-out?</h4>

<p>Gym: <%=@cost.gym %></p>
<p>Track: <%=@cost.track %></p>
<p>Home: <%=@cost.home %></p>
<p>Park: <%=@cost.park %></p>
<p>Nature Area: <%=@cost.nature_area %></p>

<h4>What equipment will need for your activities? </h4>

<p>$<%=@cost.cost_1 %> <%= @cost.equipment_1%></p>
<p>$<%=@cost.cost_2 %> <%= @cost.equipment_2%></p>
<p>$<%=@cost.cost_3 %> <%= @cost.equipment_3%></p>
<p>$<%=@cost.cost_4 %> <%= @cost.equipment_4%></p>

<h4>Can you afford these items?</h4>

<p><%=@cost.afford %></p>

<h4>What items can you back on to save money?</h4>

<p>Eating Out: <%=@cost.eating_out %></p>
<p>Smoking: <%=@cost.smoking %></p>
<p>Drinking: <%=@cost.drinking %></p>
<p>Subscriptions: <%=@cost.subscription %></p>
<p>Other Costs: <%=@cost.other_costs %></p>

<h4>What kind of responsibilities do you have during the week?</h4>

<p>Household Chores: <%=@cost.household_chores %></p>
<p>Children: <%=@cost.children %></p>
<p>Work: <%=@cost.work %></p>
<p>School: <%=@cost.school %></p>
<p>Other Responsibilities: <%=@cost.other_responsibilities %></p>

<h4>Do you feel that you have enough time to fulfill these responsibilities and added physical activities?</h4>

<p><%=@cost.time %></p>

<h4>If overwhelmed, how much time do you spend?</h4>

<p>Watching Television: <%=@cost.television %> hours</p>
<p>Social Media: <%=@cost.social_media %> hours</p>
<p>Video Games: <%=@cost.video_games %> hours</p>
<p>Serfing the Internet: <%=@cost.internet_surfing %> hours</p>
<p>Other Activities: <%=@cost.other_activities %> hours</p>

<h4>Can you reduce from these activities and dedicate to physical activity?</h4>

<p><%=@cost.dedicated %></p>

<h4>How much time can you dedicate to health and active living?</h4>

<p><%=@cost.time_spent %> hours</p>

<h4>When do you plan on working-out?</h4>

<p><%=@cost.time_of_day %></p>

<h4>How many days a week?</h4>

<p> <%=@cost.days_a_week %></p>














